.mainArea{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    position: absolute;
    height: 60vh;
    top:160px;
    left:10%;
    width: 80%;

    background-color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



.middleArea{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    position: relative;
    height: 90%;
    width: 96%;

    background-color: rgb(183, 183, 183);
    border-radius: 0.375rem;
    outline: 1px solid rgb(0, 0, 0);
}


.topButtonsArea{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    position: absolute;
    height: 10%;
    width: 100%;

    background-color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    outline: 1px solid rgb(0, 0, 0);
    
}

.bellowButtonsArea{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    position: absolute;
    height: 10%;
    width: 100%;
    top: 90%;

    background-color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    outline: 1px solid rgb(0, 0, 0);
}



