.buttonTopArea{
display: flex;
width: 100%;
height: 100%;
}


.buttonModeArea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    position: absolute;
    width: 50%;
    height: 5vh;
    left: 50px;
    top: 2px;

    background-color: white;
    border-radius: 3rem;
    outline: 5px solid rgb(153, 187, 255);
}

.darkMode{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    position: absolute;
    left: 130vh;
    width: 56px;
    height: 56px;

    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    border: 2px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}


.buttonMode{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 30%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
}

.buttonMode:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 45, 255);
    outline: 5px solid rgb(153, 187, 255);
}

.texts {
    font-weight: 600;
  }
  

  .buttonMode:active {
    scale: 0.95;
  }
  


