/*the Area containing the dropdown, check and clear buttons*/
.buttonBottomArea{
  /*flex*/
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

/*css for the buttons*/
.button, .check-button, .copy-button {
  cursor: pointer;
  overflow: hidden;

  /*dimension*/
  height: 100%;
  width: 200px;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;

  /*Animation*/
  transition: all 0.2s ease;
  transition-duration: 700ms;
}

/*general button*/
.button{
  border: 2px solid #ffffff;
  background-color: transparent;
}

.button:hover{
  background-color: black;
  color: rgb(255, 255, 255);
}

.button:active, .check-button:active {
  scale: 0.95;
}


/*Drop down button css*/

/*CSS of the contents within the dropdown button*/
.dropdown-content {
  overflow:auto;

  /*flex*/
  flex-direction: column;
  align-items: stretch;

  /*Position*/
  position: absolute;
  height: 120px;


  /*design*/
  font-size: 13px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-image: linear-gradient(100deg, #71E8FC 0%, #6BA8F4 25%, #637FE7 50%, #6455F0 75%) 1;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}

.dropdown {
  display: block;
  padding: 8px 10px;
  /*Design*/
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  /*Animation*/
  transition: 0.4s;
}

.dropdown:hover {
  background-color: #000000;
  color: #ffffff;
}

.dropdown:focus {
  background-color: #ffffff;
  color: #000000;
}


/*CSS for the check-button*/

.check-button {
  width: 80px;

  /*Design*/
  border: 2px solid #098e00;
  background: radial-gradient(100% 100% at 100% 0%, #21c915 0%, #098e00 100%);

  /*Animation*/
  transition-duration: 900ms;
}

.check-button:hover {
  background: radial-gradient(100% 100% at 100% 0%, #098e00 0%, #21c915 100% );
  color: rgb(255, 255, 255);
  }


.check-button span:first-child {
  position: absolute;
  transform: translate(-50%, -50%);
}

.check-button span:last-child {
  /*Position*/
  position: absolute;
  height: 14px;
  line-height: 13px;

  /*Design*/
  opacity: 0;
  color: #b5ccf3;

  /*Animaiton*/
  transform: translateY(100%) translateX(-50%);
}

.check-button:focus {
  background: radial-gradient(100% 100% at 100% 0%, #000000 0%, #000000 100% );

  /*Animation*/
  transition-delay: 100ms;
  transition-duration: 500ms;
}

.check-button:focus span:first-child {
  color: #b5ccf3;
  opacity: 0;
  /*Animaion*/
  transform: translateX(-50%) translateY(-150%);
  transition-duration: 500ms;
}

.check-button:focus span:last-child {
  opacity: 1;
  /*Animation*/
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 300ms;
  transition-duration: 500ms;
}

.check-button:focus:end {
  background-color: #ffffff;
  transition-duration: 900ms;
}
