/*Input area*/
.input-box {
    overflow: hidden;

    /*Flex*/
    display: flex;
    justify-content: center;

    /*Design*/
    width: 50%;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    outline: 1px solid rgb(255, 255, 255);
}


/*Code mirror css changes*/
.CodeMirror{
    overflow: hidden;
    display: flex;

    position: relative;
    height: 94%;
    width: 99%;
}
.cm-editor{
    overflow: hidden;
    width: 100%;
}


/*Paste button*/
.paste {
    cursor: pointer;
    overflow: hidden;

    /*Position*/
    position: absolute;

    /*Dimension*/
    height: 15%;
    width: 90px;

    /*Design*/
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    /*Animation*/
    transition: all 0.2s ease;
    transition-duration: 700ms;
}

.paste:hover {
    background-color:#e7fbff;
    color: rgb(95, 95, 95);
}

.paste:active {
    scale: 0.95;
}


.paste span:first-child {
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.paste span:last-child {
    position: absolute;
    color: #ffffff;
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    
}

.paste:focus {
    transition-delay: 100ms;
    transition-duration: 500ms;
    background-color: #000000;
    color:rgb(255, 255, 255) ;
}

.paste:focus span:first-child {
    color: #ffffff;
    transform: translateX(-50%) translateY(-150%);
    opacity: 0;
    transition-duration: 500ms;
}

.paste:focus span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 500ms;
}


/*paste button clinbpard Icon css*/
  .icon{
    width: 50px;
    height: 30px;
  }