.input-box {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 50%;


    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    box-sizing: border-box;

    outline: 1px solid rgb(0, 0, 0);
}

.CodeMirror{
    display: flex;
    height: 94%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.cm-editor{
    width: 100%;
    overflow: hidden;
}