
/*Containers*/
.main-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
min-height: 100vh;
width: 100%;
}


.middle-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background: linear-gradient(150deg, #1260F8 0%, #578FFA 0%, #FFF 20%);
  width: 100%;
  height: 80vh;
}



.footer-container{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  outline: solid 3px black;
}

