/*Main grid*/
.item1 { grid-area: banner; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }


.container {
  display: grid;
  grid-template-areas:
    'banner banner banner banner banner banner'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #acdaff;
  padding: 10px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
}


/*Main section*/
.item1 { grid-area: button-mode; }
.item2 { grid-area: box1; }
.item3 { grid-area: box2; }
.item4 { grid-area: extra-buttons; }


.main-container {
  display: grid;
  grid-template-areas:
    'button-mode button-mode button-mode button-mode button-mode button-mode'
    'box1 box1 box1 box2 box2 box2'
    'extra-buttons extra-buttons extra-buttons extra-buttons extra-buttons extra-buttons';
  gap: 10px;
  background-color: #dcdcdc;
  padding: 10px;
}


.main-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/*footer section section*/
.item1 { grid-area: footerss; }


.footer-container {
  display: grid;
  grid-template-areas:
    'footerss footerss footerss footerss footerss footerss'
    'footerss footerss footerss footerss footerss footerss'
    'footerss footerss footerss footerss footerss footerss';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.footer-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}