.dark-mode * {
    scrollbar-width: thin; /* can be "auto" or "thin" */
    scrollbar-color: #888 #000000; /* thumb and track color */
}


/*App.jsx file Darkmode*/

.dark-mode .main-container{
    background: linear-gradient(150deg, #2c6ae6 0%, #00256b 0%, #000000 20%);
}

/*main.jsx file Darkmode*/


.dark-mode .mainArea{
    background-color: rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .middleArea{

    background-color: rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0);
}

.dark-mode .topButtonsArea{
    background-color: rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0);
}

.dark-mode .bellowButtonsArea{
    background-color: rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0);
}

/*input.jsx file Darkmode*/
.dark-mode .input-box {
    background-color: #000000;
    outline: 1px solid rgb(0, 0, 0);
}

/*output.jsx file Darkmode*/

.dark-mode .output-box {
    background-color: #000000;
    outline: 1px solid rgb(0, 0, 0);
}





/*dropdown menu*/

.dropdown-content {
    background-color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

.dark-mode .dropdown {
    color: #ffffff;
    background-color: #000000;
  }
  
.dark-mode  .dropdown:hover {
    background-color: #ffffff;
    color: #212121;
  }
  
.dark-mode .dropdown:focus {
    background-color: #212121;
    color: #ffffff;
  }



/*button area top*/





/*buttonsTop.jsx file Darkmode*/
.dark-mode .buttonModeArea{
    background-color: rgb(0, 0, 0);
    outline: 2.3px solid #6BA8F4;
}

.dark-mode .buttonMode{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.dark-mode .buttonMode:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(5, 12, 72);
    outline: 3px solid rgb(54, 67, 94);
}

.dark-mode .texts {
    color: white;
}

.dark-mode .buttonMode.active {
    /* Styles for the active button */
    color: rgb(0, 0, 0);
    background-color: #3729cdbf;
    outline: 2px solid #3960ed;
}




/*buttonsBottom.jsx file Darkmode*/


/*footer.jsx file Darkmode*/

.dark-mode .footer-button-container {
    outline: solid 3px rgb(0, 0, 0);
}


.dark-mode .button {
    border: 2px solid #000000;
    background-color: transparent;
    color: #ffffff;
}
.dark-mode .button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

.dark-mode .check-button{
    border: 2px solid #098e00;
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .check-button:hover{
    color: #000000;
}






.dark-mode .check-button span:last-child {
    color: #000000;
  }


.dark-mode .check-button:focus {
    background: radial-gradient(100% 100% at 100% 0%, #ffffff 0%, #ffffff 100% );
  }

.dark-mode .check-button:focus:end {
    background-color: #000000;
  }



  /*info sectio*/

.dark-mode .infoArea{
    background: linear-gradient(0deg, #2c6ae6 0%, #00256b 0%, #000000 50%);
}

.dark-mode .textInfo{
    color: aliceblue;
}

.dark-mode .sectionArea{
    background: linear-gradient(0deg, #2c6ae6 0%, #00256b 0%, #000000 90%);
}





/*Card*/

.dark-mode .card:before {
    background: linear-gradient(180deg, #000000 0%, #000000 25%, #000000 75%);
  }

.dark-mode .card-info {
    background: #000000;
    background: linear-gradient(to top, #68acff, #4046e3);
}

.dark-mode .card-back {
    background: linear-gradient(-45deg, #00a6ff 0%, #4800ff 100%);
    color: #000000;
}


.dark-mode .carousel .control-next.control-arrow:before {
    color: #fff; /* Arrow color */

}

.dark-mode .carousel .control-prev.control-arrow:before {
    color: #fff; /* Arrow color */
}


.text-title {
    color: rgba(255, 255, 255, 0.64);
  }

.dark-mode .button-link{
    color: rgb(255 255 255);
    background-color: rgb(0, 0, 0);
}


.dark-mode .button-link:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


/*paste button*/



.dark-mode .paste{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #525252;
}

.dark-mode .paste:hover{
    background-color:#000000;
    color: rgb(212, 212, 212);
}






.dark-mode .paste span:last-child {
    color: #000000;
  }


.dark-mode .paste:focus {
    background-color: #ffffff;
    color:rgb(0, 0, 0) ;
  }

.dark-mode .paste:focus:end {
    background-color: #000000;
  }


 .dark-mode .paste:focus span:first-child {
    color: #000000;
}


/*copy button*/
.dark-mode .copy-button {
    border: 2px solid #0040b8;
    background: radial-gradient(100% 100% at 100% 0%, #1400aa 0%, #001c77 100%);
    color: #ffffff;
}

.dark-mode .copy-button:hover {
  background: radial-gradient(100% 100% at 100% 0%, #59a1ff 0%, #596aff 100% );
    color: rgb(0, 0, 0);
  }


  
.dark-mode .copy-button span:last-child {
    color: #b5ccf3;
  }
  
.dark-mode .copy-button:focus {
    background: radial-gradient(100% 100% at 100% 0%, #000000 0%, #000000 100% );
    
  }
  
.dark-mode .copy-button:focus span:first-child {
    color: #b5ccf3;
  }

.dark-mode .copy-button:focus:end {
    background-color: #ffffff;
  }

