.banner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    position: absolute;
    height: 15vh;
    width: 100%;
  }


  .bannersize{

    display: flex;
    flex-wrap: wrap;

    position: absolute;
    height: 16vh;

  }